body {
    min-height: 98vh;
    display: flex;
    font-family: "Verdana";
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebeae7;

}

.paintbrush {
    height: 60px;
    -webkit-filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);

    filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
    margin-right: auto;
}

.slider {
    -webkit-appearance: none;
    width: 120px;
    height: 10px;
    border-radius: 5px;  
    background: #d6966f;
    opacity: 0.7;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 40px;
    border: 0;
    background: url('images/cat.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

header,
footer {
    text-align: center;
}

footer {
    margin-top: auto;
}

.content-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.grid-container {
    border: 2px solid black;
    border-radius: 8px;
    height: 50vw;
    width: 50vw;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#controls {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

button.eraser {
    height: 20px;
    width: 70px;
}

.grid {
    display: flex;

}

.paint {
    display: flex;
    align-items: center;
    flex-direction: row;
}

input.color-picker {
    cursor: pointer; 
    height: 50px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: none;
    margin: none;  
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
}
